.social_media_containers {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    /*DIFFERENT BORDER COLOR FOR EACH SOCIAL MEDIA CONTAINER*/
    .facebook_border {
        border-top: .25rem solid $facebook;
    }

    .twitter_border {
        border-top: .25rem solid $twitter;
    }

    .instagram_border {
        border-top: .25rem solid $instagram;
    }

    .youtube_border {
        border-top: .25rem solid $youtube;
    }
    /*DIFFERENT BORDER COLOR FOR EACH SOCIAL MEDIA CONTAINER*/


    .big {
        background: $light-grayish-blue;
        padding: 1.25rem;
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        user-select: none;

        .icon_tag {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: $dark-grayish-blue;

            p {
                font-weight: 700;
                font-size: .85rem;
            }
        }

        .number_followers_container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .bignumber {
            font-size: 3.5rem;
            font-weight: 700;
        }

        .followers {
            letter-spacing: .25rem;
            color: $dark-grayish-blue;
        }

        .today {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-weight: 700;
            font-size: .85rem;
            color: $lime-green;
        }

        .down {
            color: $bright-red;
        }
    }
}

@media screen and (min-width: 1024px) {
    .social_media_containers {
        padding: 0 12rem 3rem 12rem;
        flex-direction: row;
        justify-content: center;

        .big {
            padding: 1.75rem;
            width: 30%;
        }
    }
}