@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: hsl(37, 97%, 70%); 
$youtube: hsl(348, 97%, 39%);

//dark theme
$toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

//light theme
$toggle-light: hsl(230, 22%, 74%);


//dark theme colors
$very-dark-blue: /*(BG)*/ rgb(30, 32, 42);
$dark-desaturated-blue: /*(Card BG)*/ rgb(37, 42, 65);
$desaturated-blue: /*(Text)*/ rgb(139, 151, 198);
$white: /*(Text)*/ rgb(255, 255, 255);

//light theme colors
$white: /*(BG)*/ rgb(255, 255, 255);;
$light-grayish-blue: /*(Card BG)*/ rgb(240, 242, 250);
$dark-grayish-blue: /*(Text)*/ rgb(99, 104, 126);
$very-dark-blue: /*(Text)*/ rgb(30, 32, 42);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./header";
@import "./checkbox";
@import "./social\ media\ containers";
@import "./overview";

@media (prefers-color-scheme: light) {
    body {
      background-color: $white;

      .heading_followers_container {
          p {
              color: $dark-grayish-blue;
          }
      }

      .overview {
          .container {
              background: $light-grayish-blue;

              &:hover {
                background: hsl(0, 44%, 95%);
            }
          }
      }

      .social_media_containers {
          .big {
              background: $light-grayish-blue;

              &:hover {
                background: hsl(0, 44%, 95%);
            }
          }
      }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $very-dark-blue;

        .heading_followers_container {
            h1 {
                color: $white;
            }
            
            p {
                color: $desaturated-blue;
            }
        }

        .overview {
            h2 {
                color: $white;
            }

            .container {
                background: $dark-desaturated-blue;

                &:hover {
                    background: hsl(228, 27%, 29%);
                }

                .statistic_logo {
                    p {
                        color: $desaturated-blue;
                    }
                }

                .number_percentage {
                    .mediumnumber {
                        color: $white;
                    }
                }
            }
        }

        .social_media_containers {
            .big {
                background: $dark-desaturated-blue;

                &:hover {
                    background: hsl(228, 27%, 29%);
                }

                .icon_tag {
                    p {
                        color: $desaturated-blue;
                    }
                }

                .bignumber {
                    color: $white;
                }

                .followers {
                    color: $desaturated-blue;
                }
            }
        }
    }
}